<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="main__header">
            <div class="logo">
                <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Mercado liebre LOGO"></a>
            </div>
            <div class="search__lupa">
                <form action="" class="form">
                    <input class="search__input" type="text" name="busqueda" autocomplete="off" placeholder="Busca cualquier producto...">
                    <div class="panel-izq"></div>
                    <button type="submit" class="search__btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <h4 class="link__cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</h4>
       </div>
       
       <nav class="header__nav">
        <ul class="main__nav">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="login__nav">
            <li><a href="/register">Crea tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
       </nav>
       <div class="burger__menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
        <div class="home__banner">
            <img src="images/img-home-banner.jpg" alt="MERCADO LIEBRE BANNER">
        </div>
    <main class="main__container">
        
            <h2 class="main__title">Basado en tu última visita</h2>
            <section class="ult__visita">
                <article class="article">
                    <div class="article__container">
                        <img src="images/img-cafetera-moulinex.jpg" alt="ALTA CAFETERA">
                        <div class="info__articulo">
                            <div class="truck__icon">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <p class="precios">$6.770</p>
                            <p class="descuento">40% OFF</p>
                            <h3 class="descripcion">Cafetera Moulinex</h3>
                        </div>
                    </div>
                </article>
                <article class="article">
                    <div class="article__container">
                        <img src="images/img-macbook-pro-2019.jpg" alt="MACBOOK PRO">
                        <div class="info__articulo">
                            <div class="truck__icon">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <p class="precios">$230.000</p>
                            <p class="descuento">20% off</p>
                            <h3 class="descripcion">MacBook Pro 2019</h3>
                        </div>
                    </div>
                </article>
                <article class="article">
                    <div class="article__container">
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="GALAXY s10">
                        <div class="info__articulo">
                            <div class="truck__icon">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <p class="precios">$70.500</p>
                            <p class="descuento">10% off</p>
                            <h3 class="descripcion">Samsung Galaxy S10</h3>
                        </div>
                    </div>
                </article>
                <article class="article">
                    <div class="article__container">
                        <img src="images/img-tv-samsung-smart.jpg" alt="SMART TV SAMSUNG">
                        <div class="info__articulo">
                            <div class="truck__icon">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <p class="precios">$23.200</p>
                            <p class="descuento">5% off</p>
                            <h3 class="descripcion">SmartTv Samsung 43"</h3>
                        </div>
                    </div>
                </article>
            </section>
            <h2 class="main__title">Ofertaz</h2>
            <section class="ofertas">
                <article class="article">
                    <div class="article__container">
                        <img src="images/img-cafetera-moulinex.jpg" alt="ALTA CAFETERA">
                        <div class="info__articulo">
                            <div class="truck__icon">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <p class="precios">$6.770</p>
                            <p class="descuento">40% OFF</p>
                            <h3 class="descripcion">Cafetera Moulinex</h3>
                        </div>
                    </div>
                </article>
                <article class="article">
                    <div class="article__container">
                        <img src="images/img-macbook-pro-2019.jpg" alt="MACBOOK PRO">
                        <div class="info__articulo">
                            <div class="truck__icon">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <p class="precios">$230.000</p>
                            <p class="descuento">20% off</p>
                            <h3 class="descripcion">MacBook Pro 2019</h3>
                        </div>
                    </div>
                </article>
                <article class="article">
                    <div class="article__container">
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="GALAXY s10">
                        <div class="info__articulo">
                            <div class="truck__icon">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <p class="precios">$70.500</p>
                            <p class="descuento">10% off</p>
                            <h3 class="descripcion">Samsung Galaxy S10</h3>
                        </div>
                    </div>
                </article>
                <article class="article">
                    <div class="article__container">
                        <img src="images/img-tv-samsung-smart.jpg" alt="SMART TV SAMSUNG">
                        <div class="info__articulo">
                            <div class="truck__icon">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <p class="precios">$23.200</p>
                            <p class="descuento">5% off</p>
                            <h3 class="descripcion">SmartTv Samsung 43"</h3>
                        </div>
                    </div>
                </article>
            </section>
    </main>
    <footer class="footer">
        <div class="footer__position">
            <section class="footer__section">
            <div class="credit__card">
                <i class="fa-solid fa-credit-card"></i><h5>Pagá con tarjeta o en efectivo</h5>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="linea__izquierda"></div>
            <div class="gift"><i class="fa-solid fa-gift">
                </i><h5>Envío gratis desde $ 2.500</h5>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="linea__derecha"></div>
            <div class="user__shield">
                <i class="fa-solid fa-user-shield"></i><h5></i>Seguridad, de principio a fin</h5>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p></div>
            <h5 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </section>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/5a6beb288f.js" crossorigin="anonymous"></script>
</body>
</html>